@import "../../scss/mixins";

.profile {
  background-color: transparent;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;

  &__details {
    min-height: 250px;
    @include centerHorVer();
  }

  &__info {
    cursor: pointer;
  }

  &__other {
    min-height: 450px;
    height: 100%;
    padding: 1rem;
    background-color: #f4f7fc;

    @include centerHorVer();

    .hours-card {
      background-image: linear-gradient(50deg, #212121, rgba(#212121, 0.9));
      background-size: cover;
      border-radius: 25px;
      border-color: #777;
      padding: 1.5rem;
      text-align: center;
      color: white;
      box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.69);
      z-index: 100;
      position: relative;
      text-align: center;
      min-height: 300px;
      min-width: 350px;

      @include respond(phone) {
        min-width: auto;
        min-height: auto;
      }

      &:before {
        border-radius: inherit;
        background-image: linear-gradient(
          to right,
          #212121,
          rgba(#212121, 0.9)
        );
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        z-index: -100;
        transition: all 0.5s;
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }

      &__title {
        font-size: 3rem;
      }

      &__hours {
        margin-bottom: 5px;
      }

      &__btn {
        margin-top: 30px;
      }
    }
  }
}

.ms-dialogMainOverride-hours {
  min-width: 50% !important;
  @include respond(tab-port) {
    min-width: 95% !important;
  }
}

.hours-field {
  @include centerHorVer();
  flex-wrap: wrap;
  border-bottom: 2px solid #eee;
  padding-bottom: 1rem;
  padding-top: 1rem;

  @include respond(phone) {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  &__text {
    margin-left: 20px;
    margin-right: 20px;

    @include respond(phone) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  &__dropdown {
    width: 85px;
    text-align: center;
  }
}
