@import "../../scss/variables";
@import "../../scss/mixins";

.home {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(50deg, #212121, rgba(#212121, 0.85));
  position: relative;
  overflow: hidden;
  color: white;
  min-height: 100vh;
  max-width: 100vw;

  @include respond(tab-port) {
    flex-direction: column;
  }

  .cards {
    @include centerHorVer();
    flex-wrap: wrap;
    height: 100%;
  }

  .card {
    min-height: 300px;
    min-width: 350px;
    margin: 0.5rem;
    box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.69);
    border-radius: 25px;
    @include centerHorVer();
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    background-color: white;
    color: black;

    @include respond(phone) {
      max-width: 75%;
      min-width: 75%;
    }
  }

  .link {
    text-decoration: none;
  }

  .button {
    background-color: rgba(#3ab19a, 1);
    padding: 1rem;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    font-size: 1.2rem;
    letter-spacing: 3px;
    transition: background-color ease-in-out 0.3s;
    color: white !important;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration-color: transparent;

    &:hover {
      background-color: rgba(#3ab19a, 0.7);
      text-decoration: none;
    }
  }

  .button-card {
    background-color: transparent;
    border-style: dashed;
    border-color: white;
    border-radius: 25px;
    min-height: 300px;
    min-width: 350px;
    @include centerHorVer();
    flex-direction: column;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0.5rem;

    @include respond(phone) {
      max-width: 75%;
      min-width: 75%;
    }

    .image {
      margin-bottom: 15px;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .form {
    padding: 1.5rem;
    width: 100%;

    .input {
      width: 300px;
      background-color: #f4f8f7;
      padding: 25px;
    }
  }
}
