@import "../../scss/variables";
@import "../../scss/mixins";

.home {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  padding: 0;
  margin: 0;

  &__image {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../../assets/images/16544.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include respond(tab-port-lg) {
      display: none;
    }
  }

  &__form {
    height: 100%;
    width: 75%;
    background-color: #112020;

    @include respond(tab-port-lg) {
      width: 100%;
      height: 100%;
      @include centerHorVer();
      flex-direction: column;
    }

    .title {
      text-align: center;
      font-size: 2.5rem;
      text-transform: uppercase;
      font-family: LemonMilk;
      color: white;

      @include respond(tab-port-lg) {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .emphasize {
        color: $green;
      }
    }

    .subtitle {
      text-align: center;
      font-size: 1.3rem;
      font-family: CircularStd-Book;
      color: white;
    }

    .link {
      color: white;
    }

    .fields {
      @include centerHorVer();
      flex-direction: column;
      width: 100%;
      padding-top: 5rem;
      padding-bottom: 2rem;
      color: white;

      @include respond(tab-port-lg) {
        padding: 0;
      }

      &__field {
        width: 65%;

        @include respond(tab-port-lg) {
          width: 45%;
        }

        @include respond(phone) {
          width: 65%;
        }

        label {
          color: white;
        }
      }

      &__btn {
        margin-top: 1rem;
        width: 40%;
        color: $green;

        @include respond(tab-port-lg) {
          width: 30%;
        }

        @include respond(phone-land) {
          margin-top: 1rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
}
