@import "../../scss/variables";
@import "../../scss/mixins";

.sidebar {
  background-image: linear-gradient($dark-green, $light-green);
  grid-row: 2 / -1;
  grid-column: span 1;
  transition: all 0.5s;
  position: relative;
  z-index: 900;
  min-height: 100vh;

  // &:hover {
  //   box-shadow: 5px 0 100px -2px #888;
  // }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100px;
    z-index: 999;

    @include respond(phone) {
      position: fixed;
    }

    @include respond(phone-land) {
      position: fixed;
    }

    @include centerHorVer();
    flex-direction: column;
  }

  &__item {
    background-color: transparent;
    height: 80px;
    width: 100%;
    // margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer !important;
    transition: all 0.4s;

    @include centerHorVer();
    flex-direction: column;

    @include respond(phone-land) {
      height: 60px;
    }

    &:hover {
      background-color: white;
      margin-left: 8px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;

      & > * {
        color: $dark-green;
        opacity: 1;
      }
    }

    &--active {
      background-color: white;
      margin-left: 8px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;

      & > * {
        color: $dark-green !important;

        &:not(.badge) {
          opacity: 1 !important;
        }
      }
    }
  }

  &__icon {
    height: 50px;
    width: 50px;
    font-size: 2rem;
    color: #ffffff;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: black !important;
    opacity: 0;
    text-transform: uppercase;
  }

  &__link {
    width: 100%;
    text-decoration: none;
  }
}
