@import "./scss/mixins";

$sidebar-width: 18%;
$sidebar-bg: #64ad68;
$main-color: #f4f4fb;
$color-white: #fff;
$light-gray: #eee;
$roboto: "Roboto";
$openSans: "Open Sans";

body,
html {
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-columns: 100px 2fr 2fr 2fr;
  grid-template-rows: 80px 2fr 2fr;
  overflow: hidden;
  max-height: 100vh;

  @include respond(phone) {
    max-height: 100%;
    overflow: auto;
  }

  @include respond(phone-land) {
    max-height: 100%;
    overflow: auto;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
