$sidebar-width: 18%;
$sidebar-bg: #64ad68;
$main-color: #f4f4fb;
$color-white: #fff;
$light-gray: #eee;
$roboto: "Roboto";
$openSans: "Open Sans";

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  display: grid;
  grid-template-columns: 100px 2fr 2fr 2fr;
  grid-template-rows: 50px 2fr 2fr;
}
