@import "../../scss/variables";

.menu {
  background-color: $grey;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  padding: 1rem;
  max-height: 100vh;
  overflow-x: scroll;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  max-width: 200px;
  min-width: 200px;
  max-height: 250px;
  min-height: 250px;
  text-align: center;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.newProduct {
  background-color: transparent;
  border: transparent;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
