@import "../../scss/variables";
@import "../../scss/mixins";

.menu {
  background-color: $grey;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  overflow-x: scroll;
  @include centerHorVer();
  flex-wrap: wrap;
}

.item {
  margin: 1rem;
  max-width: 200px !important;
  min-width: 200px !important;
  max-height: 250px !important;
  min-height: 250px !important;
  text-align: center;

  &__title {
    @include centerHorVer();
  }
}

.newProduct {
  background-color: transparent !important;
  border: transparent !important;

  & > * {
    @include centerHorVer();
  }
}
